@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-02-28 09:40:08
 * @version $Id$
 */

/*从上到下优先级递减*/

.g-index{
    display: flex;
    flex-direction: row;
}

.g-index>div{
    display: flex;
    flex-direction: column;
    width: 370px;
    border: 1px solid darkgrey;
    margin: 10px;
}

.tl{
    display: flex;
    align-items: center;
    height: 30px;
    color: white;
    background-color: #57625A;
    border-bottom: 1px solid darkgrey;
}

.tl>p{
    margin-left: 10px;
    margin-top: 8px;
}
.mulu-tl{
    height: 0px;
    width: 340px;
    margin: 3px 0 30px 10px;
    color: #336699;
    font-size: 23px;
    text-align-last: justify;
}



.mulu-tl2{
    margin-top: 0px;
    margin-bottom: 25px;
    height: 0px;
    color: #336699;
    font-size: 18px;
    text-align-last: justify;
}

ul.mulu-1{
    list-style-type:square;
    text-align-last: justify;
    width: 350px;
}



.mulu-2{
    list-style-type:square;
    text-align-last: justify;
    width: 310px;
}


.duibi{
    width: 300px;
    margin: 5px 0 0 20px;
    border-bottom: dashed 1px darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;/*垂直方向的对齐方式*/
    justify-content: center;/*默认从左到右居中。这里从上到下*/
}
.duibi>div{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.duibi>div>span{
    font-size: 22px;
}
.baifenbi>p{
    font-size: 60px;
    color: red;
    margin: 5px 0 0 210px;
}

